<div class="i-12"></br></div>
<div class="i-12">
	<div class="txtlogo">Share A Ride</div>
	<img src="../img/car.png" id="logo" class="logoimage">
</div>

<div class="i-12"></br></div>

<form id="loginform">
	<input type="text" name="email" placeholder="Email" class="textinput">

	<div class="i-12"></br></div>

	<input type="password" name="password" placeholder="Password" class="textinput">

	<div class="i-12"></br></div>

  	<input type="button" class="i-12 custombtn" id="login" value="Login">
	<input type="button" class="i-12 btncreate" id="Signup" value="Signup">
</form>