<div id="infoview" class="i-g ProfileInfo">
<div class="i-6">
	<img src="../img/stannis1.png" id="profilePic" class="image">
</div>
<div class="i-6" id="nameAndSurname">{{name}} {{surname}}</div>
<div class="i-2">Rating:</div>
<div class="i-4" id="rating">{{rating}}</div>
<div class="i-2">Trips:</div>
<div class="i-4" id="tripNumber">{{tripNumber}}</div>
<div class="i-2">Age:</div>
<div class="i-4" id="age">{{age}}</div>
</div>
<div class="i-3 profileDivider">Trips:</div>
<div class="i-g tripContainer">
</div>
<div class="i-3 profileDivider">Reviews:</div>
<div class="i-g reviewContainer">
</div>

