
<div id="myprofile" class="i-12">My Profile</div>

<div id="uploadprofilepic" class="i-12">Upload a Profile picture</div> 

<form id="uploadForm">
<input type="file" id="profilepic" class="i-6">
<input type="submit" value="Upload">
</form>
<div id="myrides" class="i-12">My Rides</div>

<div id="myregularrides" class="i-12">My Regular Rides</div>

<div id="history" class="i-12">History</div>

<div id="about" class="i-12">About</div>

<div id="help" class="i-12">Help</div>

<div id="report" class="i-12">Report Problem</div>

<div id="logout" class="i-12">Log Out</div>