
<div class="i-12">
</br>
</br>
	<div class="txtlogo">Share A Ride</div>
	<img src="../img/car.png" id="logo" class="logoimage">
</div>
<form id="signupform" >
	<input type="text" name="name" placeholder="Name" class="inputstyle">

	

	<input type="text" name="surname" placeholder="Surname"class="inputstyle" >

	

	<input type="email" name="email" placeholder="Email Address" class="inputstyle">

	<input type="number" min="16" max="150" placeholder="Age" name = "age" class="inputstyle">
	<div class="boxInfo">
	<input type="radio" name="gender" value="male" class="signupradio"> Male&nbsp;&nbsp;
 	
 	<input type="radio" name="gender" value="female" class="signupradio"> Female<br>
	</div>
	<input type="password" name="password" placeholder="Password"class="inputstyle">
	
	<input type="password" name="passwordconfirm" placeholder="Confirm Password"class="inputstyle">

  	<input type="button" class="i-12 custombtn" id="signup" value="Sign Up">

</form>