<div class="i-g tripviewprofile">
<div class="i-5">
	<a class="profileButton" id="profileButton" data-id="">
		<img src="../img/stannis1.png" id="profilePic" class="image">
	</a>
</div>
<div class="i-7"></br></div>
<div class="i-7" id="nameAndSurname">{{name}} {{surname}}</div>
<div class="i-2">Rating:</div>
<div class="i-5" id="rating">{{rating}}</div>
<div class="i-7"></br></div>
<div class="i-1">
	<a class="profileButton" id="profileButton" data-id="">
	<img src="../img/profile_icon.png" id="profileicon" class="customicon">
	</a>
</div>
<div class="i-1">
	<a id="chatButton" data-id="">
	<img src="../img/chat_icon.png" id="chaticon" class="customicon">
	</a>
</div>
<div class="i-1">
	<a id="addButton" data-id="">
	<img src="../img/add_icon.png" id="addicon" class="customicon">
	</a>
</div>
<div class="i-1" style="display:none">
	<a id="cancelButton" data-id="" >
	<img src="../img/cancel_icon.png" id="cancelicon" class="customicon">
	</a>
</div>
<div class="i-1" id="deleteButton" style="display:none">
	<a id="deleteButton" data-id="">
	<img src="../img/delete_icon.png" id="deleteicon" class="customicon">
	</a>
</div>
<div class="i-1" id="reviewButton" style="display:none">
	<a id="reviewButton" data-id="" data-date="">
	<img src="../img/rate_icon.png" id="reviewicon" class="customicon">
	</a>
</div>

</div>
<div class="i-g tripviewcontent">
<div class="i-12 " ><span id="origin">{{origin}}</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="destination">{{destination}}</span></div>
<div class="i-12 " ><span id="date">{{date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="time">{{time}}</span></div>
<div class="i-12"><span>Seats Available:</span> <span id="seats">{{seats}}</span></div>
</div>
<div class="i-g tripviewcontent">
<div id="description"></div>
</div>
<div id="map"></div>

<div class="i-4 mapCustomBackground ">
		<a class="fullMapButton" id="fullMapButton" > Go to full map</a>
</div>

<div id="smallProfileContainer"></div>



